
# Azure Functions artifacts
bin
obj
appsettings.json
local.settings.json

# Azurite artifacts
__blobstorage__
__queuestorage__
__azurite_db*__.json

# Test binary, built with `go test -c`
*.test

# Go workspace artifacts
handler
go-azure-function-apim-cosmos-db
.azure

### Terraform ###
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
*.terraform.lock.hcl
.terraform/
*.tfplan